<html>
  <head>
    <title>Võ Chí Thanh Trip Confirmation Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;"
  >
    <div style="max-width: 600px; margin: 0 auto;">
      <div style="background-color: #0070f3; padding: 24px; color: #ffffff;">
        <h1
          style="font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;"
        >
          Nhà xe Võ Chí Thanh:

        </h1>
      </div>
      <div style="padding: 24px; background-color: #ffffff;">
        <p style="margin-top: 0; margin-bottom: 24px;">Xin Chào {{name}},</p>
        <p style="margin-top: 0; margin-bottom: 24px;">
          Cảm ơn bạn đã chọn nhà xe Võ Chí Thanh đồng hành cùng chuyến đi của
          bạn. Dưới đây là các chi tiết về chuyến đi của bạn:
        </p>
        <h2
          style="font-size: 20px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;"
        >

          {{tripName}}
        </h2>
        <p style="margin-top: 0; margin-bottom: 10px;">
          <strong>Ticket Code:</strong>
          {{ticketCode}}
        </p>
        <p style="margin-top: 0; margin-bottom: 10px;">
          <strong>Price:</strong>
          {{price}}
          VNĐ
        </p>
        <p style="margin-top: 0; margin-bottom: 10px;">
          <strong>Date:</strong>
          {{travelDate}}
        </p>
        <p style="margin-top: 0; margin-bottom: 24px;">
          <strong>Time:</strong>
          {{departureTime}}
        </p>
        <p style="margin-top: 0; margin-bottom: 24px;">
          Hãy giữ mã vé này tiện dụng cho hành trình của bạn. Nếu bạn không đặt
          chuyến đi này, xin vui lòng liên hệ với chúng tôi ngay lập tức.
        </p>
      </div>
      <div style="background-color: #f6f6f6; padding: 24px;">
        <p style="margin-top: 0; margin-bottom: 24px;">
          Nếu bạn có bất kỳ câu hỏi nào, xin vui lòng liên hệ với chúng tôi tại
          <a
            href="https://www.facebook.com/xinmotchen188/"
            target="_blank"
            style="color: #116fe9; text-decoration:none;"
          >
            Đây!
          </a>
        </p>
      </div>
    </div>
  </body>
</html>